[submodule "lisp/evil"]
	path = lisp/evil
	url = https://github.com/emacs-evil/evil
[submodule "lisp/evil-surround"]
	path = lisp/evil-surround
	url = https://github.com/emacs-evil/evil-surround
[submodule "lisp/selectrum"]
	path = lisp/selectrum
	url = https://github.com/radian-software/selectrum
[submodule "lisp/shackle"]
	path = lisp/shackle
	url = https://depp.brause.cc/shackle.git
[submodule "lisp/evil-escape"]
	path = lisp/evil-escape
	url = https://github.com/syl20bnr/evil-escape
[submodule "lisp/avy"]
	path = lisp/avy
	url = https://github.com/abo-abo/avy
